@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --primary-hue: 300;
  --trans-hue: 300;

  --primary-color: lch(32% 118 var(--primary-hue)/100%);
  --primary-trans: lch(32% 118 var(--trans-hue)/75%); 

  
  --container-width-lg: 84%;
  --container-width-md: 90%;

  --border-radius-1: 0.25rem;
  --border-radius-2: 0.5rem;
  --border-radius-3: 0.75rem;
  --border-radius-4: 1rem;

  --transition: all 300ms ease;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  outline: none;  
  border: none;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container{
  width: var(--container-width-lg);
  margin-inline: auto;
}

