.authors{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: start;
    gap: 2rem;
}

.author{
    background-color: var(--light-color);
    padding: 1rem;
    border-radius: var(--border-radius-2);
    border: 2px solid transparent;
    transition: var(--transition);
    box-shadow: 0 5px 15px hsla(0, 0%, var(--black-lightness), .53);
}

.author a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-color);  
}

.author:hover{
    border-color: var(--light-color);
    background-color: transparent;
    transform: translateY(-2px);
}

.avatar{
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--white-color);
}

.info p{
    font-size: .8rem;
}

