.container{
    margin-inline: auto;
    width: var(--square);
    height: var(--square);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    animation: animate 1s linear infinite;
}

.container.big{
    --square: 100px;
}

.container.small{
    --square: 15px;
}

.container span{
    position: absolute;
    width: calc(var(--square) / 2);
    height: calc(var(--square) / 2);
    animation: rotate 1s linear infinite;
}

.container span:nth-child(1){
    top: 0;
    left: 0;
    background-color: #fceba7;
}

.container span:nth-child(2){
    top: 0;
    right: 0;
    background-color: #55dd89;
}

.container span:nth-child(3){
    bottom: 0;
    left: 0;
    background-color: #fd6c64;
}

.container span:nth-child(4){
    bottom: 0;
    right: 0;
    background-color: #1f7880;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(90deg);
    }   
    90%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(90deg);
    }
}

@keyframes animate{
    0%{
        width: var(--square);
        height: var(--square);
    }
    10%{
        width: var(--square);
        height: var(--square);
    }
    50%{
        width: calc(var(--square) * 1.5);
        height: calc(var(--square) * 1.5);
    }   
    90%{
        width: var(--square);
        height: var(--square);
    }
    100%{
        width: var(--square);
        height: var(--square);
    }

}